language: python
arch:
  - amd64
  - ppc64le
python:
  - 3.5
  - 3.6
  - 3.7
  - 3.8
  - 3.9-dev
  - nightly
install:
  - pip install flake8 flake8-import-order pyyaml
script:
  - flake8 .
  - nosetests
