include LICENSE README.rst
include photocollage/*.py
include photocollage/locale/*/LC_MESSAGES/photocollage.mo
include data/photocollage.desktop
include data/photocollage.appdata.xml
include data/icons/hicolor/*/apps/photocollage.*
