include LICENSE README.md
include photocollage
recursive-include photocollagelib *.py
include data/photocollage.desktop
recursive-include data/icons/hicolor *
recursive-include locale *.mo
include setup.py
