[Desktop Entry]
Type=Application
Encoding=UTF-8
Exec=photopostergenerator
Icon=photopostergenerator
Categories=GTK;GNOME;Utility;
Terminal=false

Name=Photo poster generator
Comment=A simple tool to make a poster from several images

Name[fr]=Générateur de poster de photos
Comment[fr]=Un outil simple pour faire un poster à partir de plusieurs photos
